<input
    autocomplete="off"
    class="form-control bedard-socialite-callback"
    readonly
    type="text"
    value="<?= $value ?>">

<a
    class="bedard-socialite-copy"
    data-bedard-socialite-copy
    data-failed="<?= e(trans('bedard.socialite::lang.settings.fields.copy_failed')) ?>"
    data-success="<?= e(trans('bedard.socialite::lang.settings.fields.copy_success')) ?>"
    href="#">
    <i class="icon-clipboard"></i>
    <span><?= e(trans('bedard.socialite::lang.settings.fields.copy_callback')) ?></span>
</a>
