<input
    autocomplete="off"
    class="form-control"
    name="<?= $name ?>"
    type="text"
    value="<?= $value ?>">

<a
    class="bedard-socialite-link"
    data-bedard-socialite-default
    data-default="<?= $url ?>"
    href="#">
    <i class="icon-check"></i>
    <span><?= e(trans('bedard.socialite::lang.settings.fields.use_default')) ?></span>
</a>

<a
    class="bedard-socialite-link"
    data-bedard-socialite-copy
    data-failed="<?= e(trans('bedard.socialite::lang.settings.fields.copy_failed')) ?>"
    data-success="<?= e(trans('bedard.socialite::lang.settings.fields.copy_success')) ?>"
    href="#">
    <i class="icon-clipboard"></i>
    <span><?= e(trans('bedard.socialite::lang.settings.fields.copy_callback')) ?></span>
</a>
